.filterContainer {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.selectorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.locationLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filterLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 32px;
}
.button {
  padding: 16px 57px;
  background-color: #e44848;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}
.button:hover {
  background-color: #d84343;
  transition: transform 2s ease-in-out;
  -webkit-transition: transform 2s ease-in-out;
  -moz-transition: transform 2s ease-in-out;
  -ms-transition: transform 2s ease-in-out;
  -o-transition: transform 2s ease-in-out;
}
